# Working API

In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5d43e674825a9e62537a0d2eb6d5b5ea&language=en-US&page=1')

In [15]:
pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,124.718,8.7,18148
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,92.927,8.7,24030
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,61.583,8.6,10955
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,48.961,8.6,14203
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,28.639,8.6,4157
5,569094,Spider-Man: Across the Spider-Verse,"After reuniting with Gwen Stacy, Brooklyn’s fu...",2023-05-31,1803.035,8.6,1875
6,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,36.196,8.5,7362
7,129,Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,74.218,8.5,14471
8,372058,Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,74.441,8.5,9968
9,496243,Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,60.631,8.5,15925
10,497,The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,63.476,8.5,15541
11,155,The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-14,82.558,8.5,29949
12,772071,Cuando Sea Joven,70-year-old Malena gets a second chance at lif...,2022-09-14,12.479,8.5,243
13,680,Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,64.055,8.5,25357
14,13,Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,62.501,8.5,24865
15,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,59.508,8.5,7482
16,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,81.301,8.5,21769
17,704264,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,2019-11-21,15.183,8.5,267
18,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,41.847,8.5,11380
19,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,15.070,8.5,311

In [23]:
data = []

In [24]:
for i in range(1,429):
    requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=5d43e674825a9e62537a0d2eb6d5b5ea&language=en-US&page={}'.format(i))
    temp_data = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    data.append(temp_data)
data = pd.concat(data,ignore_index = True)

In [29]:
data

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,124.718,8.7,18148
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,92.927,8.7,24030
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,61.583,8.6,10955
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,48.961,8.6,14203
4,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,28.639,8.6,4157
...,...,...,...,...,...,...,...
8555,429,"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-23,59.508,8.5,7482
8556,122,The Lord of the Rings: The Return of the King,Aragorn is revealed as the heir to the ancient...,2003-12-01,81.301,8.5,21769
8557,704264,Primal: Tales of Savagery,Genndy Tartakovsky's Primal: Tales of Savagery...,2019-11-21,15.183,8.5,267
8558,769,GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,41.847,8.5,11380
8559,372754,Dou kyu sei – Classmates,"Rihito Sajo, an honor student with a perfect s...",2016-02-20,15.070,8.5,311

In [30]:
data.shape

(8560, 7)

In [31]:
data.to_csv('tmdb_movies.csv')