# Importing Pandas

In [1]:
import pandas as pd

## Opening csv file from folder

In [2]:
pd.read_csv('placement.csv')

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

## Opening csv file from a URL

In [3]:
import requests
from io import StringIO

url = "https://raw.githubusercontent.com/cs109/2014_data/master/countries.csv"
headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0"}
req = requests.get(url, headers=headers)
data = StringIO(req.text)

pd.read_csv(data)

       Country         Region
0      Algeria         AFRICA
1       Angola         AFRICA
2        Benin         AFRICA
3     Botswana         AFRICA
4      Burkina         AFRICA
..         ...            ...
189   Paraguay  SOUTH AMERICA
190       Peru  SOUTH AMERICA
191   Suriname  SOUTH AMERICA
192    Uruguay  SOUTH AMERICA
193  Venezuela  SOUTH AMERICA

[194 rows x 2 columns]

## Sep Parameter

In [5]:
# this function will read the tsv file when give its sep parameter the \t value
#pd.read_csv('your-tsv-file.tsv', sep='\t')
#If there are no column name in the your data set than you can pass names parameter to read_csv function 
#pd.read_csv('your-tsv-file.tsv', sep='\t', names = ['column','names'])

## Index_col Parameter

In [8]:
# if you have let say id column and you want to use it as index numbers then use this function
#pd.read_csv('placement.csv', index_col = 'Unnamed')

## Header Parameter

In [9]:
# if sometime your columns name become first row of your dataset then to convert this 
# row to header columns then use this function
#pd.read_csv('placement.csv',header = 1)

## usercols Parameter

In [11]:
# when ever you want to use some of the columns from the data set you can filter them out while importing the data set.
pd.read_csv('placement.csv',usecols = ['iq','cgpa'])

    cgpa     iq
0    6.8  123.0
1    5.9  106.0
2    5.3  121.0
3    7.4  132.0
4    5.8  142.0
..   ...    ...
95   4.3  200.0
96   4.4   42.0
97   6.7  182.0
98   6.3  103.0
99   6.2  113.0

[100 rows x 2 columns]

## Squeeze parameters

In [14]:
# when ever you want to use only one column then use squeeze parameter it will convert your column to pandas series it will not be a dataframe
#pd.read_csv('placement.csv',usecols = ['iq'], squeeze = True)

## Skiprows/nrows Parameter

In [16]:
# to skip the rows 
pd.read_csv('placement.csv',skiprows = [1,2,3])
# to restrict the rows to n number of rows
pd.read_csv('placement.csv',nrows = 2)

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0

## Encoding Parameter

In [17]:
# if your dataset have not utf-8 encoding then use encoding parameter
#pd.read_csv('placement.csv',encoding = 'encoding-name')

## Skip bad lines

In [18]:
# if your dataset has different numbers of values in rows than skip those lines
#pd.read_csv('placement.csv',error_bad_lines = false)

## dtypes Parameter

In [19]:
# to convert the values of column use this
#pd.read_csv('placement.csv',dtypes = {'column-nmae': datatype})

## Handling dates

In [20]:
# if you want parse dates as dates not as object then use this
#pd.read_csv('placement.csv',parse_dates =['column-name-of-dates'])

## Convertors

In [21]:
# if you want to do transformations like you can to make abbriveations of some column then use this
#pd.read_csv('placement.csv',converters = {'column-name':name-of-functionToTransform}) note this function you have defined before

## na_values Parametes

In [22]:
# if there is problem in your dataset let say there is hyphen or some thing else in values that should be consider as NaN then use this function
#pd.read_csv('placement.csv',na_values = ['name of columns'])

## Loading a Huge dataset in Chunks

In [23]:
# want to load chunks of dataset then use this
data_frames = pd.read_csv('placement.csv',chunksize = 10)
for chunks in data_frames:
    print(chunks.size)

40
40
40
40
40
40
40
40
40
40